.filterButton {
  cursor: pointer;
  user-select: none;
  &_active {
    text-decoration: underline;
    font-weight: bold;
    color: steelblue;
  }
}

.todoRow {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.deleteTodo {
  padding: 2px 6px;
  cursor: pointer;
  user-select: none;
}
