
body {
  font-family: Roboto;
  color: #333;
  // background: steelblue;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}


// Default Indent
// $list: adam john wynn mason kuroir;
$i: 0;
$end: 50;
$step: 5;
@mixin indent {
  @while $i <= 60 {
    .pt-#{$i} {
      padding-top: $i + px;
    }
    .pb-#{$i} {
      padding-bottom: $i + px;
    }
    .pr-#{$i} {
      padding-right: $i + px;
    }
    .pl-#{$i} {
      padding-left: $i + px;
    }
    .mt-#{$i} {
      margin-top: $i + px;
    }
    .mb-#{$i} {
      margin-bottom: $i + px;
    }
    .mr-#{$i} {
      margin-right: $i + px;
    }
    .ml-#{$i} {
      margin-left: $i + px;
    }
    $i: $i + $step;
  }
}
@include indent;



// Bootsrap Row Improvement
.row {
  &_flex-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  &_flex-wrap > [class*="col-"] {
    float: none;
    display: flex;
  }
  &_flex-wrap > [class*="col-"] > * {
    width: 100%;
  }
  &_gap-10 {
    margin-right: -10px;
    margin-left: -10px;
  }
  &_gap-10 > [class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  &_gap-5 {
    margin-right: -5px;
    margin-left: -5px;
  }
  &_gap-5 > [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
  }
}