.content {
  height: 1px;
  min-height: calc(100vh - 90px);
  background: url("../assets/img/pattern.svg") no-repeat;

  &__flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  &__title {
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
    font-size: 45px;
  }
}
