.chart {
  &__svg {
    outline: 1px dashed steelblue;
  }
  &__rect {
    fill: steelblue;
    shape-rendering: crispedges;
  }
  &__line {
    fill: none;
    stroke: steelblue;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 1.5;
  }
  &__cirlce {
    fill: #fff;
    stroke: steelblue;
  }
}
