<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/vue.js"></script>
  <style>
    .well {
      display: inline-block;
      margin-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 10px;
      font-size: 16px;
      font-family: 'Comic Sans MS';
      cursor: pointer;
      transition: all 0.2s ease;
    }
    .well_active {
      background: purple;
      color: #fff;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="container">
      <p class="well" v-on:click="changeBg" v-bind:class="{ well_active: isDarkTime }">
        Privet {{message}}. Loaded at {{loadTime}}
      </p>
      <p v-if="seen" v-bind:class="{ hidden: isDarkTime }">Now you see me</p>
      <div>
        <input v-on:keydown="fastAddItem" v-on:change="saveItem" v-bind:value="itemText" type="text">
        <button v-on:click="addItem" class="btn btn-default">Add item</button>
      </div>
      <ul>
        <todo-item 
          v-for="(item, index) in todos"
          v-bind:todo="item"
          v-bind:onclick="onclick"
          v-bind:key="index"
        ></todo-item>
      </ul>
    </div>
  </div>



  <script>
    Vue.component('todo-item', {
      props: ['todo', 'onclick'],
      template: '<li v-on:click="decorator">{{ todo.text }}</li>',
      methods: {
        decorator() {
          this.onclick(this.todo.text);
        },
      },
    });

    var app = new Vue({
      el: '#app',
      data: {
        message: 'medved!',
        title: 'You loaded this page on ' + new Date().toLocaleString(),
        seen: true,
        todos: [
          { text: 'Learn JavaScript' },
          { text: 'Learn Vue' },
          { text: 'Build something awesome' },
        ],
        itemText: null,
        isDarkTime: false,
      },
      computed: {
        loadTime() {
          return new Date().toLocaleTimeString();
        },
        onclick() {
          const instance = this;
          return newValue => instance.itemText = newValue;
        },
      },
      methods: {
        addItem() {
          if (!this.itemText) return;
          this.todos.push({ text: this.itemText });
          this.itemText = null;
        },
        saveItem(event) {
          this.itemText = event.target.value;
        },
        fastAddItem(event) {
          const text = event.target.value;
          if (event.key !== 'Enter') return;
          if (text === '') return;
          this.todos.push({ text });
          this.itemText = null;
        },
        changeBg() {
          this.isDarkTime = !this.isDarkTime;
        },
      },
    });
  </script>
</body>
</html>
