@font-face {
    font-family: ComicSans;
    src: url('./font/comic-sans-ms.ttf');
}

body {
  padding: 20px;
  /*display: flex;*/
  background: cornsilk;
  font-family: ComicSans;
}

.portrait {
  width: 202px;
  height: 252px;
  background: url('./img/jackson.jpg') no-repeat;
}

.kiwi {
  width: 200px;
  height: 200px;
  background: url('./img/kiwi.svg') no-repeat;
  background-size: cover;
}