html {
    height: 100%;
}

body {
    height: 100%;
    padding: 30px 20px;
    background: linear-gradient(180deg, #363795, #005C97);
}
.container {
    background: #fff;
}

.html-slider {
    width: 300px;
}

.noUi-base > div:nth-child(1) {
    background: #a6a6a6;
}

.noUi-base > div:nth-child(2) {
    display: none;
}

img {
    max-width: 100%;
}


.container {
    font-size: 0;
}
.root {
    display: table;
    // display: flex;
    // flex-wrap: wrap;
    // align-items: flex-start;
}
img {
    display: inline-block;
    margin-bottom: 10px;
    // width: 50%;
    // float: left;
}
.icontainer {
    display: table-cell;
    vertical-align: top;
    width: 50%;
}
.icontainer_half {

}










.img-fluid-container {
    max-width: 600px;
    margin-left: auto;
}
.bg-img {
    height: 0;
    padding-bottom: 66.67%;
    background: url('../img/cat.jpg') no-repeat;
    background-size: cover;
}