@import '~bootstrap/dist/css/bootstrap.min.css';
@import './fontawesome.min.css';
@import './solid.min.css';
@import './scssHelpers.scss';

:root {
  --blue: #0d6efd;
  --blue-hover: #0a58ca;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn,
input.form-control {
  font-size: 18px;
}

.fa {
  color: var(--blue);
  &_control {
    padding: 4px 5px;
    cursor: pointer;
    user-select: none;
  }
}

.ilink {
  color: var(--blue);
  cursor: pointer;
  user-select: none;
  &:hover {
    color: var(--blue-hover);
    text-decoration: underline;
  }
}

.items-center {
  align-items: center;
}
