<div class="container">
  {{#if currentUser.isGuest}}
    <h2>Sorry, you haven't permissions for that page</h2>
  {{else}}
    <h2>Currently registered users</h2>
    <ul>
      {{#each data.users}}
        <li>{{name}} ({{role}})</li>
      {{else}}
        <li>ggwp</li>
      {{/each}}
    </ul>
  {{/if}}
</div>
