@import '~bootstrap/dist/css/bootstrap.min.css';
@import './lib/css/fontawesome.min.css';
@import './lib/css/solid.min.css';
@import './lib/css/scssHelpers.scss';

body {
  font-family: 'Comic Sans MS', 'ubuntu';
  background-image: url('/img/v1.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.app {
  &__container {
    min-height: 100vh;
    background: #fff;
    box-shadow: inset 12px 0 25px -15px rgba(0, 0, 0, 0.9),
      inset -12px 0 25px -15px rgba(0, 0, 0, 0.9);
  }
  &__root-link {
    color: #212529;
    &:hover {
      text-decoration: none;
      color: #212529;
    }
  }
  &__nav-link {
    &_active {
      color: #212529;
      &:hover {
        text-decoration: none;
        color: #212529;
        cursor: default;
      }
    }
  }
  &__splash-screen {
    display: block;
    width: 100%;
    border-radius: 10px;
  }
  &__counter {
    display: block;
    background: steelblue;
    color: #fff;
    border-radius: 10px;
    padding: 2px 5px;
  }
}

.form-control {
  &__inline {
    width: auto;
  }
}

.fa {
  color: steelblue;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

// spinner START
$offset: 187;
$offsetBold: 180;
$duration: 1.8s;

.spinner {
  width: 25px;
  height: 25px;
  animation: rotator $duration linear infinite;
  &__path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash $duration ease-in-out infinite;
    stroke: steelblue;
    fill: none;
    stroke-linecap: round;
    r: 30;
    stroke-width: 6;
    &_bold {
      r: 24;
      stroke-width: 9;
      animation: dashbold $duration ease-in-out infinite;
    }
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: $offset/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}

@keyframes dashbold {
  0% {
    stroke-dashoffset: $offsetBold;
  }
  50% {
    stroke-dashoffset: $offsetBold/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offsetBold;
    transform: rotate(450deg);
  }
}
// spinner END
