<template name="lists">
    <div class="lists">
        <h3 class="lists__title">Array of lists</h3>
        <div class="lists__add row">
            <div class="col-xs-4">
                <label>Add new list</label>
            </div>
            <div class="col-xs-8">
                <input type="text" class="form-control js-add-list">
            </div>
        </div>

        <ul class="lists-array well">
            {{#each list in lists}}
                <li class="lists-array__item js-list" data-id={{list._id}}>
                    {{#if editing list}}
                        <input type="text" class="lists-array__edit-input form-control js-edit-input">
                    {{else}}
                        <a href="{{pathFor 'todos' id=list._id}}" class="lists-array__link">{{list.name}}</a>
                        <i class="lists-array__remove glyphicon glyphicon-trash js-remove-list"></i>
                        <i class="lists-array__edit glyphicon glyphicon-edit js-edit-list"></i>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>
</template>