<template name="todo_show">
    <p>got it</p>
    <div class="row">
        <div class="col-xs-8">
            <input type="text" class="form-control js-add-todo-input">
        </div>
        <div class="col-xs-4">
            <button class="btn btn-primary js-add-todo">Add new todo</button>
        </div>
    </div>
    <br>
    <ul class="todo-list">
        {{#each todo in todos}}
            <li class="todo-list__item js-todo" data-id="{{todo._id}}">
                <input type="checkbox" checked="{{todo.checked}}">
                <span class="todo-list__text {{checkedText todo}}">{{todo.text}}</span>
                <span class="todo-list__remove glyphicon glyphicon-trash js-remove-todo"></span>
            </li>
        {{/each}} 
    </ul>
</template>