@import '~bootstrap/dist/css/bootstrap.min.css';
@import './fontawesome.min.css';
@import './solid.min.css';
@import './scssHelpers.scss';

:root {
  --purple: #673ab7;
  --blue: #007bff;
}

input.form-control,
input.form-control:focus,
textarea.form-control,
textarea.form-control:focus,
select.form-control,
select.form-control:focus {
  color: #222;
}

.form-control {
  &__inline {
    width: auto;
  }
}

.fa {
  color: var(--blue);
  &_big {
    padding: 2px 5px;
  }
  &_link {
    cursor: pointer;
    user-select: none;
    &:hover {
      text-decoration: none;
      color: #0056b3;
    }
  }
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.fake-link {
  display: inline-block;
  &__button {
    padding: 0;
    border: none;
    background: transparent;
  }
}

.error {
  color: #c9302c;
}

.text-light {
  font-size: 0.75rem;
  color: #6e7582 !important;
}

.steelblue {
  color: steelblue;
}

.purple {
  color: var(--purple);
}

// spinner START
$offset: 187;
$offsetBold: 180;
$duration: 1.8s;

.spinner {
  width: 25px;
  height: 25px;
  animation: rotator $duration linear infinite;
  &__path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash $duration ease-in-out infinite;
    stroke: steelblue;
    fill: none;
    stroke-linecap: round;
    r: 30;
    stroke-width: 6;
    &_bold {
      r: 24;
      stroke-width: 9;
      animation: dashbold $duration ease-in-out infinite;
    }
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: $offset/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}

@keyframes dashbold {
  0% {
    stroke-dashoffset: $offsetBold;
  }
  50% {
    stroke-dashoffset: $offsetBold/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offsetBold;
    transform: rotate(450deg);
  }
}
// spinner END

/* shake START */
@keyframes shakeX {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
}

.shakeX {
  animation-name: shakeX;
  animation-iteration-count: infinite;
  animation-duration: 1.2s;
}
/* shake END */

.app {
  &__body {
    font-size: 16px;
    font-family: 'ubuntu', 'Comic Sans MS';
    background-image: url('/img/fire-rain-gothic.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  &__container {
    min-height: 100vh;
    background: #fff;
    box-shadow: inset 12px 0 25px -15px rgba(0, 0, 0, 0.9),
      inset -12px 0 25px -15px rgba(0, 0, 0, 0.9);
  }
  &__root-link {
    color: var(--purple);
    &:hover {
      text-decoration: none;
      color: #673ab7;
    }
  }
  &__nav-link {
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
    &_active {
      color: #212529;
      &:hover {
        text-decoration: none;
        color: #212529;
        cursor: default;
      }
    }
  }
  &__splash-screen {
    display: block;
    width: 100%;
    border-radius: 10px;
  }
}
